{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">
   <head>
      <link rel="shortcut icon" href="{% static 'icons/Checked_icon_16x16.png' %}" type="image/png" />
      <link rel="icon" href="{% static 'icons/Checked_icon_16x16.png' %}" type="image/png" />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>TTT &mdash; TheToDoTracker</title>
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/footer.css' %}">
   </head>
   <body>
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/">TheToDoTracker</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
                  <li><a href="/overview/">Overview</a></li>
                  <li><a href="/new/">New</a></li>
                  <li><a href="/edit/">Edit</a></li>
                  <li><a href="/imprint/">Imprint</a></li>
               </ul>
               <div class="navbar-form navbar-right">
                  <form role="bigSearch" method="POST">
                  {% csrf_token %}
                     <div class="form-group">
                        <input type="text" name="bigSearch" class="form-control" placeholder="Type in any task...">
                     </div>
                     <button type="submit" class="btn btn-default">Submit</button>
                  </form>
               </div>
            </div>
         </div>
      </nav>
      <div class="container">
         <h1>TheToDoTracker<br><i>{{ error }}</i></h1>
         <br>
         <h3>Hey,</h3>
         this is TheToDoTracker  &mdash;  you won't believe it but it's availabile on <a href="https://github.com/eliasgruenewald/ppsntodo-django">GitHub</a>.
         <hr>
         <img src="{% static 'media/calendar.png' %}" class="img-responsive" alt="Calendar picture currently not available." width="200" height="auto">
         <hr>
         <div>(Icon made by <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> <br> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> <br> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>)</div>
      </div>
      <footer class="footer">
         <div class="container">
            <div class="container_footer">
               <p class="text-muted_footer">&copy;  2016  &mdash;  TheToDoTracker  &mdash;  <a href="https://github.com/eliasgruenewald/ppsntodo-django">Documentation</a></p>
            </div>
         </div>
      </footer>
      <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>     
   </body>
</html>